<ion-content [fullscreen]="true">

    <ion-row>
        <ion-col size="4">
            <ion-card>
                <img src="https://images.pexels.com/photos/38515272/pexels-photo-38515272.jpeg">
                <ion-card-header>
                    <ion-card-title>Exemplo</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, qui nemo modi facere nulla veniam dolorem eum minus possimus fugiat blanditiis doloribus quam voluptatibus, sit dolores quisquam recusandae porro voluptas.
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>    
    
</ion-content>